

html{
    min-height: 100vh;
}

body{
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
    min-height: 100vh;
    background: burlywood url(../assets/restaurant_icons.png) repeat;
    
}

h1, h2, h3, h4, h5, h6{
    text-transform: capitalize;
}



h1, h2{
    font-size: 2.4em;
    margin-bottom: 15px;
    margin-top: 0;
    padding-top: 15px;
}

h4{
    font-size: 1.6em;
    padding: 10px 0;
}

p{
    font-size: 1.2em;
    line-height: 1.4em;
}

main{
    max-width: 700px;
    margin: 0 auto;
    padding: 0 10px;
    padding-bottom: 125px;
    min-height: 100vh;
    
}



.quote {
    font-style: italic;
    padding: 10px;
    font-size: 1.2em;
    line-height: 1.4em;
}

header {
    max-width: 700px;
    margin: auto;
    display: flex;
    background: burlywood url(../assets/1002.png) repeat;
    padding: 10px;
    justify-content: left;

}

header a{
    display: flex;
    align-items: center;
}

header a img{
    width: 32px;
    padding-right: 10px;

}

.search-bar{
    width: 100%;
    max-width: 500px;
    display: flex;
    
    height: 40px;
}

.search-bar img{
    width: 32px;
    padding: 10px;
    background-color: #fff;
    padding-left: 0;
}

.search-bar input{
    all: unset;
    width: 100%;
    background-color: #fff;
    font-size: 1.4em;
    display: block;
}

nav{
    position: fixed;
    text-align: center;
    display: block;
    margin: 0 auto;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    
}

.nav{
 width: 275px;
 
}



.nav ul{
    padding: 0;
    list-style: none;
    
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    
}

.expanded ul{
    height: 350px;
    transition: height .5s ease-in-out .1s;
    
}


.hidden ul {
    height: 0px;
    transition: height .5s ease-in-out .1s;
}

.hidden p{
    display: none;
}

.nav ul li{
    background: burlywood url(../assets/beige-tiles.png) repeat;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 2px 3px 12px #777;
    width: 250px;
}

.nav ul li a{
    text-decoration: none;
    color: black;
}

.nav ul li:last-of-type{
    margin-bottom: 0;
}

.nav ul li:first-of-type{
    margin-top: 0;
}

.arrow{
    transform: rotate(90deg);
    width: 50px;
    font-size: 2em;
    margin: auto;
    text-shadow: 2px 3px 12px #777;
}


.nav-button{
    all: unset;
    background: rgb(150, 3, 23) url(../assets/square_bg.png) repeat;
    color: #fff;
    font-size: 22px;
    width: 200px;
    height: 75px;
    box-shadow: 2px 3px 12px #777;
}

.nav-button:active{
    filter: brightness(90%);
    box-shadow: none;
    transition: .1s ease-out;
}



.recipeList ul{
    padding: 0;
}

.hidden ul, .hidden p{
    height: 0px;
}

.recipeList ul li{
    list-style: none;
    padding: 8px 0;
}

.recipeList ul li a{

    color: black;
    font-size: 1.4em;
}

.sbs{
    display: flex;
}

.sbs h2{
    margin: 0;
    margin-left: 15px;
    margin-top: 6px;
    align-self: center;
}

.sbs a{
    text-decoration: none;
    font-size: 3em;
    color: black;
}

.sbs a:active{
    filter: brightness(85%);
}

.ingredients-list{
    padding: 0 20px;
    font-size: 1.4em;
}

.ingredients-list li{
    margin: 10px 0;
}

.ingredients-list li:nth-child(odd) {
    background:#eee;
}

.favorite{
    font-size: 100px;
    text-shadow: 1px 1px 3px black;
    position: fixed;
    bottom: 0;
    right: 20px;
    color: red;
}


footer{
    background-color: black;
    padding: 10px;
}

footer a{   
    color: #555;
    text-decoration: none;
}
